{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "settings": { "import/resolver": { "node": { "paths": ["src"] } } },
  "rules": {
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling"]],
        "pathGroups": [
          { "pattern": "react", "group": "external", "position": "before" }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
